/* Cor da pagia f0f4f5 */

body{
    background-color: rgb(238, 238, 238)
}

#ajuda h1{
    font-family: 'SF Compact Rounded', Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(46,79,133);
    font-size: 50px;
    text-align: center;
}
/*-------------------------*/
#ofertas{
    width: 90%;
    justify-content: space-between;
    display: inline-block;    
    gap: 2vw;
    padding: 10px 5%;
}


.card{
    width: 300px;
    text-align: center;
    text-decoration: none;

}
a {
    text-decoration: none;
}

.nome{
    font-family: 'SF Compact Rounded', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 23.5px;
    color: #000;
    text-align: center;
}

.card img:hover {
    transform:scale(1.2);
    transition: 0.4s;
}

.card{
    width: 30%;
    text-align: center;
    text-decoration: none;

}
a {
    text-decoration: none;
}
.anuncio{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.buybox{
    border-radius: 50%;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.popup{
	width: 400px;
	background: rgb(247,148,29);
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align:center;
	padding: 0 30px 30px;
	color: #fff;
    transition: transform 0.45s, top 0.4s;
    visibility: hidden;
    
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup h2{
	font-size: 38px;
	font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #ffffff;
	color: rgb(223,99,54);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);	
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


.nome{
    font-family: 'SF Compact Rounded', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #000;
}

#sectiom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 3rem;
}


/*-------------------------*/
/*-------------------------*/
#pf1 h1{
    font-weight: 400;
    color: rgb(46,79,133);
    font-size: 40px;
    text-align: center;
}

#linha-horizontal {
    display: flex;
    margin: 0% 5%;
    width: 90%;
    border: 1px solid #000;
    background-color: rgb(217,217,217);
}


/*-------------------------*/

.scrollcard {
    width: 90%;
    height: 190px;
    margin: 15px 5%;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    )
}


/*-------------------------*/


@keyframes scrollLeft{
    to{
        left: -20%
    }
}

.itemLeft {
    width: 260px;
    height: 260px;
    position: absolute;
    animation-name: scrollleft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.itemLeft{
    left: max(calc(260px * 9), 100%);
    animation-name: scrollLeft;
  }
  
 
    .scrollcard1{
    animation-delay: calc(40s / 9 * (9 - 1) * -1);
    }
    .scrollcard2{
    animation-delay: calc(40s / 9 * (9 - 2) * -1);
    }
    .scrollcard3{
    animation-delay: calc(40s / 9 * (9 - 3) * -1);
    }
    .scrollcard4{
    animation-delay: calc(40s / 9 * (9 - 4) * -1);
    }
    .scrollcard5{
    animation-delay: calc(40s / 9 * (9 - 5) * -1);
    }
    .scrollcard6{
    animation-delay: calc(40s / 9 * (9 - 6) * -1);
    }
    .scrollcard7{
    animation-delay: calc(40s / 9 * (9 - 7) * -1);
    }
    .scrollcard8{
    animation-delay: calc(40s / 9 * (9 - 8) * -1);
    }
    .scrollcard9{
    animation-delay: calc(40s / 9 * (9 - 9) * -1);
    }

#callout a:hover {
    background-color: rgb(247,148,29);
    transition: 0.5s;
}  

#callout{
    height: 24rem;
    width: 100%;
    background-color: antiquewhite;
    background-image: url("../assets/images/ssaunana.jpg");
    margin: 1% 0% 0% 0%;

}
#callout a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46,79,133);
    padding: 8px 6px 6px 6px;
    margin: 0% 38%;
}

#callout .con {
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-size: 25px;
        font-family: SF Compact Rounded, Helvetica, sans-serif;
}


#callout h2{
    font-family: 'SF Compact Rounded', Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 5%;
    margin: auto 0;

}

#linha-horizontalbb {
    display: flex;
    width: 90%;
    margin: 0px 5% 5% 5%;
    border: 1px solid #ffffff;
    text-align: center;
}



@media screen and (max-width:1015px) {
    body{
        overflow-x: hidden;
    }

    #ofertas  {
        width: 90%;
        align-items: center;
        padding: 15px 0%;
        display:flex;
        flex-direction: column;
        gap: 3rem 0rem;
        }
    
        .card{
            width: 300px;
            text-align: center;
            text-decoration: none;
        
        }
        .nome{
            font-family: 'SF Compact Rounded', Helvetica, sans-serif;
            font-weight: 400;
            font-size: 22px;
            color: #000;
            text-align: center;
        }

        .gallery-items {
            width: 33.3%;
            height: 25rem;
         
         }
}

@media screen and (max-width:900px) {
    body{
        overflow-x: hidden;
    }
    #desc {
        margin-left: 5%;
    }
    #promo .con {
        margin-left: 10%;  
    }
    #ofertas  {
    width: 90%;
    align-items: center;
    padding: 15px 0%;
    display:flex;
    flex-direction: column;
    gap: 3rem 0rem;
    }

    .card{
        width: 300px;
        text-align: center;
        text-decoration: none;
    
    }
    .nome{
        font-family: 'SF Compact Rounded', Helvetica, sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #000;
        text-align: center;
    }

    .gallery-items {
        width: 33.3%;
        height: 22rem;
     
     }
}

@media screen and (max-width:700px) {
    body{
        overflow-x: hidden;
    }

    .gallery-items {
        width: 33.3%;
        height: 20rem;
     
     }

}